:root{
    --size-comment:10vh;

}

.post{
    position: relative;
    display: block;
    width: 450px;
    min-height: 100px;
    max-height: 10vh;
    /* padding: 10px; */
    align-items: center;
    background-color: var(--color-primary);
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px black;
    border-radius: 8px 6px;
    border: 1px solid black;
    transition: 0.3s;
}
.post:hover{
    box-shadow: 2px 2px 3px black;
    filter: brightness(95%);
}

.post .post-user{
    display: block;
    background-color: var(--color-secundary);
    border-radius: 8px 8px 0px 0px;
    padding: 5px;
    margin-bottom: 5px;
}
.post .post-comment{
    align-self: center;
    justify-self: center;
    padding: 10px;
}

.post .post-like{
    position:absolute;
    bottom: 1%;
    left: 1%;
    font-weight: bold;

}
.post .btLike{
    position:absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 25px;
    border-radius: 8px 0 0 0;
    box-shadow: 1px 1px 2px black;
    padding: 2px;
    font-weight: bold;
    border: 1px solid transparent;
}
.post .btLike:active{
    filter: brightness(80%);
    border: 1px solid black;

}

.post .btLike:hover{
    border: 1px solid black;
    background-color: #D0D0D0;

}

.post .btLike.active{
    background-color: blue;
    color: white;
    font-weight: bold;
}

.post img{
    position: absolute;
    left: 50%;
    bottom: 0;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(70%);
}

.post img.active{
    transform: rotate(180deg);
}


.post-main{
    border-radius: 8px;
    height: 25rem;
    padding-bottom: 10px;
}

.post-main.active {
    max-height: 20rem;
    animation: animateDown 1.5s;
}
.post-main.deactive {
    animation: animateUp 1s;
    max-height: var(--size-comment);

}

.post-main .comentarios-box{
    display: flex;
    flex-direction: column;
}
.post-main.active > .comentarios-box{
    visibility: visible; 
    animation: aparece 1s;


}
.post-main.deactive > .comentarios-box{
    visibility: hidden; 
}
.post-main.deactive > .comentarios-box::after{
    display: none; 
}
.post-main .comentarios{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    align-items: center;
    max-height: 9rem;
    overflow-y: auto;

}
.post-main.active .comentarios{
    animation: aparece 1.5s;
    opacity: 100%;
}
.post-main.deactive  .comentarios{
    animation: desaparece 1s;
    opacity: 0%;

}
.post-main.deactive  .comentarios::after{
    display: none;
}


@keyframes animateDown{
    0%{
        max-height: var(--size-comment);
        display: none;

    }
    
    100%{
        max-height: 20rem;
        display: flex;

   }
}
@keyframes animateUp{
    0%{
        max-height: 20rem;
        display: flex;

    }
    
    
    100%{
        max-height: var(--size-comment);

   }
}

@keyframes aparece{
    0%{
        display: none;
        opacity: 0%;

    }
    70%{
        opacity: 0%;
    }
    100%{
        display: flex;
        opacity: 100%;
    }
}

@keyframes desaparece{
    100%{
        display: none;
        opacity: 0%;

    }
    90%{
        opacity: 0%;
    }
    0%{
        display: flex;
        opacity: 100%;
    }
}

.comment{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    min-height: 3.5rem;
    background-color: var(--color-primary-light);
    width: 90%;
    border-radius: 5px 5px 0 0;

}
.comment .comment-user{
    background-color: var(--color-secundary);
    padding: 0 5px;
    padding: 0 3px;
    border-radius: 5px 5px 0 0;

}
.comment .comment-text{
    text-align: center;

}
.comment .comment-like{
    position: absolute;
    bottom: 0;
    left: 0;

}
