.conteudo{
    display: grid;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;

    /* padding-bottom: 100px; */
}
